body {
    background: url(/Content/smartHomeBackImage.jpg);
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.imageIconDevice {
    background-color: rgba(74, 255, 164, 0.00);
}

.container {
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(74, 255, 164, 0.63);
}

.footer {
    background-color: rgba(0, 0, 0, 0.00);
    border-radius: 0px 0px 20px 20px;
}

.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.ImageButton {
    width: 100px;
    background-color: rgba(74, 255, 164, 0.63);
}

.imageButtonIcon {
    width: 23px;
}


.devicePadding {
    padding-left: 5px;
    padding-right: 5px;
}

.deviceBorder {
    border: 3px solid #005098;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
}

.myContact {
    color: white;
}

.deviceName {
    font-weight: bold;
    font-size: 140%;
    color: #abf64c;
}

.devicePanel {
    background-color: rgba(74, 255, 164, 0.63);
}

#imageHeader {
    border-radius: 20px 20px 20px 20px;
    padding: 0px;
    background-color: rgba(74, 255, 164, 0.00);
}

#PanelMain {
    background-color: rgba(0, 0, 0, 0.00);
}

#PanelMenu {
    background-color: rgba(74, 255, 164, 0.63);
    border-radius: 20px 20px 20px 20px;
}

#head-list {
    color: #abf64c;
    font-weight: bold;
    font-size: 400%;
}

#createNewDev {
    color: #abf64c;
    font-weight: bold;
}

